# Local environment variables (contains secrets)
.env
.env.local

# Dependency directories
node_modules/
vendor/

# Build and output directories
dist/
build/
out/
bin/

# Logs and databases
*.log
*.sqlite

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor settings
.vscode/
.idea/
*.swp

__pycache__/
*.pyc

cities.json

sun_set.py
sun_set_city.py

output.txt
